@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}
<div class="flex flex-col items-center justify-center ml-14 md:ml-16 lg:ml-[300px] xl:ml-[500px]">
    <h1 class="text-4xl pb-3">@ViewData["Title"]</h1>

    <form method="post" class="max-w-2xl bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <h2 class="text-center text-2xl pb-3">Enter your email.</h2>
        <div asp-validation-summary="ModelOnly" class="text-red-500 text-sm" role="alert"></div>
        <div class="w-full px-3">
            <label asp-for="Input.Email"
                class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"></label>
            <input asp-for="Input.Email"
                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-800 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white shadow-md"
                autocomplete="username" aria-required="true" placeholder="name@example.com" />
            <span asp-validation-for="Input.Email" class="text-red-500 text-sm"></span>
        </div>
        <button type="submit"
            class="w-full flex-shrink-0 bg-gray-800 hover:bg-gray-600 text-white font-bold py-2 px-4 border-b-4 border-gray-900 hover:border-gray-700 rounded">Reset
            Password</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
