<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MusicCollaborationManager</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MusicCollaborationManager.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="flex fixed w-screen flex-row-reverse text-white shadow-lg bg-gray-800 h-28">
        <img src="~/img/Panda_Logo.png" class="w-24 h-24 mr-4 bg-white self-center" alt="Logo">
        <h1 class="text-white self-center mr-4 text-2xl">Music Collaboration Manager</h1>
    </div>
    <nav class="fixed top-5 left-0 h-screen w-48 m-0 flex flex-col text-white shadow-lg bg-gray-800 items-center">
        <ul class="mt-24 text-center">
            <li class="py-5 top-4 fixed -ml-16">
                <a asp-controller="Home" asp-action="Index"
                    class="bg-gray-900 text-white py-2 rounded-md text-4xl hover:bg-gray-700 px-4 border-b-4 border-gray-600"
                    aria-current="page">Home</a>
                <a asp-controller="Listener" asp-action="Index"
                    class="bg-gray-900 text-white py-2 rounded-md text-4xl hover:bg-gray-700 px-4 border-b-4 border-gray-600"
                    aria-current="page">Dashboard</a>
                <a asp-controller="Listener" asp-action="Profile"
                   class="bg-gray-900 text-white py-2 rounded-md text-4xl hover:bg-gray-700 px-4 border-b-4 border-gray-600"
                   aria-current="page">Profile</a>
                <a asp-controller="Generator" asp-action="Index"
                   class="bg-gray-900 text-white py-2 rounded-md text-4xl hover:bg-gray-700 px-4 border-b-4 border-gray-600"
                   aria-current="page">Generators</a>
            </li>
            <partial name="_LoginPartial" />
        </ul>
    </nav>

    <div class="flex">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/landing.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
