@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="p-4 bottom-20 fixed bg-gray-700 hover:bg-gray-500 rounded-md my-2 w-40">
        <form asp-controller='home' asp-action='callforward'>
            <button type='submit' class=""><i class="fa-brands fa-spotify"></i> Spotify</button>
        </form>
    </li>
    <br>
    <li class="p-4 bottom-3 fixed bg-gray-700 hover:bg-gray-500 rounded-md my-2 w-40">
        <form  class="" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class=""><i class="fa-solid fa-right-from-bracket"></i> Logout</button>
        </form>
    </li>
}
else
{
    <li class="p-4 bottom-20 fixed bg-gray-700 hover:bg-gray-500 rounded-md my-2 w-40">
        <a class="" asp-area="Identity" asp-page="/Account/Login"><i class="fa-solid fa-right-to-bracket"></i> Login</a>
    </li>
    <li class="p-4 bottom-3 fixed bg-gray-700 hover:bg-gray-500 rounded-md my-2 w-40">
        <a class="" asp-area="Identity" asp-page="/Account/Register"><i class="fa-solid fa-pen-to-square"></i> Register</a>
    </li>
}
