@model MusicCollaborationManager.ViewModels.UserDashboardViewModel 

@{

}

<div class="flex flex-col">
    <div class="flex flex-row ml-48 mt-36">
        <div class="flex flex-col w-3/4 mx-5">
            <div>
                <h1 class="font-bold text-2xl">@Model.fullName</h1>
                <h2>@Model.aspUser.Identity.Name</h2>
                <h2><!-- Spotify Info --></h2>
            </div>
            <div class="w-full h-max max-h-max bg-gray-800 my-3 p-3 rounded-lg shadow-2xl">
                <div class="flex flex-row gap-x-3 mt-5" id="recommended-songs-header-container">
                    <h2 class="font-bold mb-5 mt-2 text-white">Recommended Tacks</h2>
                    <img src="~/img/Spotify_Logo_Black.png" class="w-32 h-10 bg-white" />
                </div>
                <div class="columns-5 mb-5 h-full max-h-max">
                    <div class="w-fit overflow-hidden bg-gray-300" id="user-track-0-container">
                    </div>
                    <div class="w-fit overflow-hidden bg-gray-300" id="user-track-1-container">
                    </div>
                    <div class="w-fit overflow-hidden bg-gray-300" id="user-track-2-container">
                    </div>
                    <div class="w-fit overflow-hidden bg-gray-300" id="user-track-3-container">
                    </div>
                    <div class="w-fit overflow-hidden bg-gray-300" id="user-track-4-container">
                    </div>
                </div>
            </div>

            <div class="w-full h-max max-h-max bg-gray-800 my-1 p-3 rounded-lg shadow-2xl">
                <div class="flex flex-row gap-x-3 mt-5">
                    <h2 class="font-bold mb-5 mt-2 text-white">Featured Playlists</h2>
                    <img src="~/img/Spotify_Logo_Black.png" class="w-32  h-10 bg-white" />
                </div>
                <div class="columns-5 mb-5 h-full max-h-max">
                    <div class="w-fit bg-gray-300" id="user-playlist-0-container">
                    </div>
                    <div class="w-fit bg-gray-300" id="user-playlist-1-container">
                    </div>
                    <div class="w-fit bg-gray-300" id="user-playlist-2-container">
                    </div>
                    <div class="w-fit bg-gray-300" id="user-playlist-3-container">
                    </div>
                    <div class="w-fit bg-gray-300" id="user-playlist-4-container">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script type="text/javascript" src="~/js/listenerindex.js"></script>