@model SpotifyAPI.Web.FullPlaylist


<div class="flex flex-col">
    <div class="flex flex-row ml-48 mt-36">
        <div class="flex flex-col w-3/4 mx-5">
            <div class="w-full h-max max-h-max bg-secondaryback classicpanda:bg-coreback my-3 p-3 rounded-lg shadow-2xl">
                <div class="flex flex-row gap-x-3 mt-5" id="recommended-songs-header-container">
                    <h2 class="font-header font-bold mb-5 mt-2 text-textback classicpanda:text-whitetext luxury:text-yellow-500">@Model.Name</h2>
                    <img src="~/img/Spotify_Logo_Black.png" class="w-32 h-10 bg-white" />
                    @foreach (var song in @Model.Tracks.Items) {
                        <div>
                            <img src="@song.Track">
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>