@model MusicCollaborationManager.Models.Listener

@{
    ViewData["Title"] = "Settings";
}

@if (ViewBag.Message != null)
{
    <div class="flex flex-col items-center justify-center text-red-500 text-2xl">
        @ViewBag.Message
    </div>
}
else
{
    <div class="ml-12 md:ml-16 xl:ml-80">
        <div class="flex flex-col w-auto p-5 bg-coreback rounded-xl shadow-black shadow-2xl">
            <h1 class="font-header text-[30pt] pb-3 text-textback classicpanda:text-whitetext luxury:text-yellow-500">@ViewData["Title"]</h1>
               <h4 class="font-header font-bold mb-6 mt-2 text-textback classicpanda:text-whitetext luxury:text-yellow-500 text-2xl">Available Themes</h4>
               <div class="flex flex-col md:flex-row md:gap-x-16 gap-y-4 text-center">
                   <button id="classicpanda-btn" class="md:w-[80px] md:h-[50px] md:text-xl text-textback font-bold p-4 rounded-md text-2x hover:bg-gray-700 bg-primback px-1 classicpanda:text-blacktext">Original</button>
                   <button id="revolution-btn" class="md:w-[80px] md:h-[50px] md:text-xl text-textback font-bold p-4 rounded-md text-2x hover:bg-gray-700 bg-primback px-1 classicpanda:text-blacktext">Red</button>
                   <button id="autumn-btn" class="md:w-[80px] md:h-[50px] md:text-xl text-textback font-bold p-4 rounded-md text-2x hover:bg-gray-700 bg-primback px-1 classicpanda:text-blacktext">Purple</button>
                   <button id="moon-btn" class="md:w-[80px] md:h-[50px] md:text-xl text-textback font-bold p-4 rounded-md text-2x hover:bg-gray-700 bg-primback px-1 classicpanda:text-blacktext">Dark</button>
                   <button id="mansion-btn" class="md:w-[80px] md:h-[50px] md:text-xl text-textback font-bold p-4 rounded-md text-2x hover:bg-gray-700 bg-primback px-1 classicpanda:text-blacktext">Gold</button>
               </div>
                <h2 class="font-header text-2xl pb-3 text-textback classicpanda:text-whitetext mt-5 font-bold">Current Information</h2>
                <div class="flex flex-col">
                    <p class="text-xl text-textback classicpanda:text-whitetext">&nbsp;&nbsp;&nbsp;<strong>First Name: </strong>@Model.FirstName</p>
                    <p class="text-xl text-textback classicpanda:text-whitetext">&nbsp;&nbsp;&nbsp;<strong>Last Name: </strong> @Model.LastName</p>
                </div>
            <form asp-action="EditListenerInformation" class="max-w-xl bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 mt-5 md:w-[400px] md:ml-32">
                <h2 class="font-header text-center text-2xl pb-3">Change your information.</h2>
                <div asp-validation-summary="ModelOnly" class="text-red-500 text-sm" role="alert"></div>
                <div class="w-full px-3">
                    <label asp-for="FirstName"
                           class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"></label>
                    <input asp-for="FirstName"
                           class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-800 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white shadow-md" required />
                    <span asp-validation-for="FirstName" class="text-red-500 text-sm"></span>
                </div>
                <div class="w-full px-3">
                    <label asp-for="LastName"
                           class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"></label>
                    <input asp-for="LastName"
                           class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-800 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white shadow-md" required />
                    <span asp-validation-for="LastName" class="text-red-500 text-sm"></span>
                </div>
                <input type="hidden" asp-for="FriendId" />
                <input type="hidden" asp-for="AspnetIdentityId" />
                <input type="hidden" asp-for="SpotifyId" />
                <input type="hidden" asp-for="Id" />
                <div>
                    <button id="login-submit" type="submit"
                            class="w-full flex-shrink-0 bg-gray-800 hover:bg-gray-600 text-textback font-bold py-2 px-4 border-b-4 border-gray-900 hover:border-gray-700 rounded
                                classicpanda:text-whitetext
                                autumn:text-white
                                revolution:text-white">
                        Save
                    </button>
                </div>
            </form>
        </div>
    </div>
}
@section Scripts{
    <script type="text/javascript" src="~/js/colorchanger.js"></script>
}