<div class="grid gap-5 ml-4 md:ml-8 mr-4 md:mr-32">
    <div class="xl:col-span-1"></div> @*Div to help grid span page correctly using grids*@
    @if(@ViewBag.Error != null){
                    <div id='generator-alert' type=''>
                        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                            <strong class="font-bold">Whoops.</strong>
                            <span class="block sm:inline">There was an error while creating your playlist. Log into Spotify and try again.</span>
                            <button id='alert-button' class="absolute top-0 bottom-0 right-0 px-4 py-3">
                                <svg class="fill-current h-6 w-6 text-red-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
                            </button>
                        </div>    
                    </div> 
                }
    <div class="lg:col-span-1">
        <div class="w-auto bg-secondaryback classicpanda:bg-coreback shadow-xl shadow-gray-950 rounded-xl px-5 pt-6 pb-8 mb-4 overflow-hidden">
            <h1 class="font-header font-bold text-4xl text-textback classicpanda:text-whitetext p-1 luxury:text-yellow-500 autumn:text-white revolution:text-white" id="question-header">Questionnaire Generator</h1>
            <p class="text-textback classicpanda:text-whitetext text-2x" id="question-descr">
                With this generator you will be able to fill out a short questionnaire about songs and then get back a playlist of songs that fit your desired input.
                If you like the playlist that is returned, then you will have the option to save it to your own Spotify account!
            </p>
            <br />
            <a asp-controller="Generator" asp-action="Questionaire"
               class="w-full flex-shrink-0 bg-gray-600 hover:bg-gray-400 text-textback font-bold py-2 px-4 border-b-4 border-gray-700 hover:border-gray-500 rounded
                                classicpanda:text-whitetext
                                autumn:text-white
                                revolution:text-white">
                Try
                it out
            </a>
            <br />
        </div>
    </div>
    <div class="lg:col-span-1">
        <div class="w-auto bg-secondaryback classicpanda:bg-coreback shadow-xl shadow-gray-950 rounded-xl px-5 pt-6 pb-8 mb-4 overflow-hidden">
            <h1 class="font-header font-bold text-4xl text-textback classicpanda:text-whitetext p-1 luxury:text-yellow-500 autumn:text-white revolution:text-white">Mood Generator</h1>
            <p class="text-textback classicpanda:text-whitetext text-2x">
                With this generator you will be able to select a mood and get a playlist of songs that fit that mood.
                If you like the playlist that is returned, then you will have the option to save it to your own Spotify account!
            </p>
            <br />
            <a asp-controller="Generator" asp-action="Mood"
               class="w-full flex-shrink-0 bg-gray-600 hover:bg-gray-400 text-textback font-bold py-2 px-4 border-b-4 border-gray-700 hover:border-gray-500 rounded
                                classicpanda:text-whitetext
                                autumn:text-white
                                revolution:text-white" id="mood-anchor">Try it out</a>
            <br />
        </div>
    </div>
    <div class="lg:col-span-1">
        <div class="w-auto bg-secondaryback classicpanda:bg-coreback shadow-xl shadow-gray-950 rounded-xl px-5 pt-6 pb-8 mb-4 overflow-hidden">
            <h1 class="font-header font-bold text-4xl text-textback classicpanda:text-whitetext p-1 luxury:text-yellow-500 autumn:text-white revolution:text-white">Time Generator</h1>
            <p class="text-textback classicpanda:text-whitetext text-2x">
                With this generator you will be able to get a playlist of songs based on the time of day and day of the week.
                If you like the playlist that is returned, then you will have the option to save it to your own Spotify account!
            </p>
            <br />
            <a asp-controller="Generator" asp-action="Time"
               class="w-full flex-shrink-0 bg-gray-600 hover:bg-gray-400 text-textback font-bold py-2 px-4 border-b-4 border-gray-700 hover:border-gray-500 rounded
                                classicpanda:text-whitetext
                                autumn:text-white
                                revolution:text-white">
                Try
                it out
            </a>
            <br />
        </div>
    </div>
    <div class="lg:col-span-1">
        <div class="w-auto bg-secondaryback classicpanda:bg-coreback shadow-xl shadow-gray-950 rounded-xl px-5 pt-6 pb-8 mb-4 overflow-hidden">
            <h1 class="font-header font-bold text-4xl text-textback classicpanda:text-whitetext p-1 luxury:text-yellow-500 autumn:text-white revolution:text-white">Top Track Generator</h1>
            <p class="text-textback classicpanda:text-whitetext text-2x">
                With this generator you will be able to get a playlist of songs based on your top tracks! This means that you will get
                songs similar to what you already listen to.
            </p>
            <br />
            <a asp-controller="Generator" asp-action="TopTrack"
               class="w-full flex-shrink-0 bg-gray-600 hover:bg-gray-400 text-textback font-bold py-2 px-4 border-b-4 border-gray-700 hover:border-gray-500 rounded
                                classicpanda:text-whitetext
                                autumn:text-white
                                revolution:text-white">Try it out</a>
            <br />
        </div>
    </div>
    <div class="lg:col-span-1">
        <div class="w-auto bg-secondaryback classicpanda:bg-coreback shadow-xl shadow-gray-950 rounded-xl px-5 pt-6 pb-8 mb-4 overflow-hidden">
            <h1 class="font-header font-bold text-4xl text-textback classicpanda:text-whitetext p-1 luxury:text-yellow-500 autumn:text-white revolution:text-white">Track Input Generator</h1>
            <p class="text-textback classicpanda:text-whitetext text-2x">
                With this generator you will be able to get a playlist of songs based on a track of your choosing! You will be able to choose a track from your
                top tracks so you will be able to get music similar to what you listen to.
            </p>
            <br />
            <a asp-controller="Generator" asp-action="TrackInput"
               class="w-full flex-shrink-0 bg-gray-600 hover:bg-gray-400 text-textback font-bold py-2 px-4 border-b-4 border-gray-700 hover:border-gray-500 rounded
                                classicpanda:text-whitetext
                                autumn:text-white
                                revolution:text-white">Try it out</a>
            <br />
        </div>
    </div>
    <div class="xl:col-span-1"></div> @*Div to help grid span page correctly using grids*@
</div>


@section Scripts{
    <script type="text/javascript" src="~/js/colorchanger.js"></script>
    <script type="text/javascript" src="~/js/generatorindex.js"></script>
}

