@model MusicCollaborationManager.ViewModels.MoodViewModel

<form asp-controller="Generator" asp-action="MoodPost" method="post" id="songForm">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="flex flex-col">
        <div class="flex flex-row">
            <div class="flex flex-col w-3/4 ml-5">
                <div
                    class="w-full h-max max-h-max bg-secondaryback classicpanda:bg-coreback my-3 p-3 rounded-lg shadow-2xl">
                    <h1
                        class="font-bold text-5xl text-textback classicpanda:text-whitetext p-2 luxury:text-yellow-500 autumn:text-white revolution:text-white">
                        Mood Playlist Generator</h1>
                    <div class="text-textback classicpanda:text-whitetext font-bold p-2">What mood would you like your
                        playlist to have?</div>
                    <br />
                    <div class="slidecontainer">
                        @*Pass in number values that correlate to moods*@
                        <input asp-for="mood" type="range" min="1" max="6" value="1" id="moodRange">
                        <p class="text-textback classicpanda:text-whitetext">Mood: <span id="moodValue"></span></p>
                    </div>
                    <br />
                    <div class="text-textback classicpanda:text-whitetext">Description:</div>
                    <div class="text-textback classicpanda:text-whitetext" id="moodDescription"></div>
                    <br />
                    <div class="text-textback classicpanda:text-whitetext font-bold p-2">Cover Image Input</div>
                    <input asp-for="coverImageInput" type="text" />
                    <div class="text-textback classicpanda:text-whitetext font-bold p-2">Playlist Description Input
                    </div>
                    <input asp-for="descriptionInput" type="text" />
                    <br />
                    <button
                        class="text-textback classicpanda:text-whitetext font-bold p-2 rounded-md text-2x hover:bg-gray-700 px-1 border-b-2 border-gray-600 mt-4"
                        type="submit">Generate Playlist</button>
                </div>
            </div>
        </div>
    </div>
</form>


@section Scripts
    {
    <script src="~/js/rSlider.js"></script>
    <script type="text/javascript" src="~/js/colorchanger.js"></script>
}



