@model MusicCollaborationManager.ViewModels.QuestionViewModel

<form asp-controller="Generator" asp-action="QuestionairePost" method="post" id="songForm">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="w-screen">
        <div class="flex flex-col justify-center items-center mt-56">
            <div class="bg-gray-800 my-3 p-3 rounded-lg shadow-2xl">
                <h1 class="font-bold text-5xl text-white p-2">Questionnaire Playlist Generator</h1>
                <div class="text-white font-bold p-2">What genre would you like your playlist to be centered on?</div>
                <select id="genre" asp-for="genre" asp-items="@Model.genresSelect" required>
                </select>
                <br />

                <div class="text-white font-bold p-2">What is the temp you would like songs in you playlist to have (Beats per minute)?</div>
                <div class="slidecontainer">
                    <input asp-for="tempo" type="range" min="20" max="250" value="125" id="tempoRange">
                    <p class="text-white">Value: <span id="tempoValue"></span></p>
                </div>              
                <br />

                <div class="text-white text-2xl font-bold p-2">For all inputs below make sure the number is between 1 and 10</div>
                <div class="text-white font-bold p-2">How prevelant should acoustics be in your playlist?</div>
                <div class="slidecontainer">
                    <input asp-for="acousticness" type="range" min="1" max="10" value="5" id="acoRange">
                    <p class="text-white">Value: <span id="acoValue"></span></p>
                </div>
                <br />

                <div class="text-white font-bold p-2">How much should your playlist be able to be danced to?</div>
                <div class="slidecontainer">
                    <input asp-for="danceability" type="range" min="1" max="10" value="5" id="dancRange">
                    <p class="text-white">Value: <span id="dancValue"></span></p>
                </div>
                <br />

                <div class="text-white font-bold p-2">How much energy should your playlist have?</div>
                <div class="slidecontainer">
                    <input asp-for="energy" type="range" min="1" max="10" value="5" id="engRange">
                    <p class="text-white">Value: <span id="engValue"></span></p>
                </div>
                <br />

                <div class="text-white font-bold p-2">How prevelant should instruments be in your playlist?</div>
                <div class="slidecontainer">
                    <input asp-for="instrumentalness" type="range" min="1" max="10" value="5" id="instRange">
                    <p class="text-white">Value: <span id="instValue"></span></p>
                </div>
                <br />

                <div class="text-white font-bold p-2">High lively do you want your playlist to be?</div>
                <div class="slidecontainer">
                    <input asp-for="liveness" type="range" min="1" max="10" value="5" id="liveRange">
                    <p class="text-white">Value: <span id="liveValue"></span></p>
                </div>
                <br />

                <div class="text-white font-bold p-2">How popular do you want the songs in your playlist to be?</div>
                <div class="slidecontainer">
                    <input asp-for="popularity" type="range" min="1" max="10" value="5" id="popRange">
                    <p class="text-white">Value: <span id="popValue"></span></p>
                </div>
                <br />

                <div class="text-white font-bold p-2">How prevelant should vocals be in your playlist?</div>
                <div class="slidecontainer">
                    <input asp-for="speechiness" type="range" min="1" max="10" value="5" id="speechRange">
                    <p class="text-white">Value: <span id="speechValue"></span></p>
                </div>
                <br />

                <div class="text-white font-bold p-2">How much postivity do you want in your playlist (valence)?</div>
                <div class="slidecontainer">
                    <input asp-for="valence" type="range" min="1" max="10" value="5" id="valRange">
                    <p class="text-white">Value: <span id="valValue"></span></p>
                </div>
                <div class="text-white font-bold p-2">Cover Image Input</div>
                <input asp-for="coverImageInput" type="text" />
                <br />

                <button class="text-white font-bold p-2" type="submit">Generate Playlist</button>
            </div>
        </div>
    </div>
</form>


<script src="~/js/slider.js"></script>


