@model MusicCollaborationManager.ViewModels.TopTracksViewModel

<form asp-controller="Generator" asp-action="TopArtistPost" method="post" id="songForm">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="flex flex-col ml-5 mr-5 md:ml-8 lg:ml-32 xl:ml-[400px]">
        <div class="w-auto bg-secondaryback classicpanda:bg-coreback shadow-xl shadow-gray-950 rounded-xl px-5 pt-6 pb-8 mb-4">
            <h1 class="font-header font-bold text-5xl text-textback classicpanda:text-whitetext p-2 luxury:text-yellow-500 autumn:text-white revolution:text-white">Top Artists Playlist Generator</h1>
            <div class="text-textback classicpanda:text-whitetext font-bold text-1xl p-2">Press button to have playlist generated based on your top artists</div>
            <br />
            <div class="classicpanda:text-blacktext flex flex-col bg-primback classicpanda:bg-primback shadow-xl shadow-gray-950 rounded-xl px-5 pt-6 pb-8 mb-4">
                <div class="text-textback classicpanda:text-blacktext font-bold p-2">Cover Image Input</div>
                <textarea asp-for="coverImageInput" placeholder="A playlist cover image for a happy playlist that is a dancing playlist" class="bg-gray-450 border border-gray-800 classicpanda:text-blacktext text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"> </textarea>
                <div class="text-textback classicpanda:text-blacktext font-bold p-2">
                    Playlist Description Input
                </div>
                <textarea asp-for="descriptionInput" placeholder="A happy playlist that has a dancing vibe" class="bg-gray-450 border border-gray-800 classicpanda:text-blacktext text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"></textarea>
                <br />
                <div id="titletext" class="text-textback classicpanda:text-blacktext font-bold p-2">
                    Playlist Title Input
                </div>
                <input id="titleinput" asp-for="titleInput" placeholder="Epic Awesome Tunes" class="bg-gray-450 border border-gray-800 classicpanda:text-blacktext text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" />
                <br />
                @*This article helped with the switch https://freefrontend.com/tailwind-toggle-switches/*@
                <label class="flex items-center relative w-max cursor-pointer select-none">
                    <span class="text-textback classicpanda:text-blacktext font-bold p-2">Allow AI to generate a title for your playlist?</span>
                    <input id="aiTitle" asp-for="generateTitle" value="false" type="checkbox" class="appearance-none transition-colors cursor-pointer w-14 h-7 rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-black focus:ring-blue-500 bg-red-500" />
                    <span id="offbtn" class="absolute font-medium text-xs uppercase right-1 text-white"> OFF </span>
                    <span id="onbtn" class="absolute font-medium text-xs uppercase right-8 text-white"> ON </span>
                    <span class="w-7 h-7 right-7 absolute rounded-full transform transition-transform bg-gray-200" />
                </label>
                <br />
            </div>
            <br />
            <button id="artist-generate" class="w-full flex-shrink-0 bg-gray-600 hover:bg-gray-400 text-textback font-bold py-2 px-4 border-b-4 border-gray-700 hover:border-gray-500 rounded
                                classicpanda:text-whitetext
                                autumn:text-white
                                revolution:text-white"
                    type="submit">
                Generate Playlist
            </button>
        </div>
    </div>
</form>

<style>
    input:checked {
        background-color: #22c55e; /* bg-green-500 */
    }

    input:checked ~ span:last-child {
        --tw-translate-x: 1.75rem; /* translate-x-7 */
    }
</style>

@section Scripts
    {
    <script src="~/js/rSlider.js"></script>
    <script type="text/javascript" src="~/js/colorchanger.js"></script>
    <script src="~/js/switch.js"></script>
}
