@{
    ViewData["Title"] = "Home Page";
}
<body class="bg-gray-300">
    <div class="flex flex-row relative">

        <div class="flex flex-row sticky inset-0 top-0 bottom-0 min-w-fit h-full my-3 p-4 bg-gray-800 text-white">
            <nav id="sidenav" class="h-full bg-gray-800">
                <ul class="space-y-2 list-outside h-full max-h-full mr-3 w-36 text-left p-5 bg-gray-800">
                    <li>Settings</li>
                    <li>Help</li>
                    <li>Log in</li>
                </ul>
            </nav>
        </div>

        <div class="flex flex-row">
            <div class="flex flex-col w-3/4 mx-5">
                <div>

                    <h1 class="font-bold text-2xl">Music Collaboration Manager</h1>
                    <p class="my-4 font-sans">
                        Welcome to Music Collaboration Manager. Here you can interact with your Spotify account to enhance your listening experience. We provide our own
                        unique features including custom site themes, a playlist generator, and more.
                    </p>
                </div>
                <div class="w-full h-max max-h-max bg-sky-700 my-3 p-3 rounded-lg">

                    <div class="flex flex-row gap-x-3 mt-5">
                        <h2 class="font-bold mb-5 mt-2 text-white">Top songs</h2>
                        <img src="~/img/Spotify_Logo_Black.png" class="w-32 h-10 bg-white"/>
                    </div>
                     <!--REMEMBER THAT Spotify logo MUST be present when display content from spotify-->
                    <div class="columns-5 mb-5 h-full max-h-max">
                        <div class="w-fit overflow-hidden bg-gray-300" id="track-0-container">
                        </div>
                        <div class="w-fit overflow-hidden bg-gray-300" id="track-1-container">
                        </div>
                        <div class="w-fit overflow-hidden bg-gray-300" id="track-2-container">
                        </div>
                        <div class="w-fit overflow-hidden bg-gray-300" id="track-3-container">
                        </div>
                        <div class="w-fit overflow-hidden bg-gray-300" id="track-4-container">
                        </div>
                    </div>
                </div>

                <div class="w-full h-max max-h-max bg-sky-700 my-1 p-3 rounded-lg">
                    <div class="flex flex-row gap-x-3 mt-5">
                        <h2 class="font-bold mb-5 mt-2 text-white">Top playlists</h2>
                        <img src="~/img/Spotify_Logo_Black.png" class="w-32  h-10 bg-white" />
                    </div> <!--REMEMBER THAT Spotify logo MUST be present when display content from spotify-->
                    <div class="columns-5 mb-5 h-full max-h-max">
                        <div class="w-fit bg-gray-300" id="playlist-0-container">
                        </div>
                        <div class="w-fit bg-gray-300" id="playlist-1-container">
                        </div>
                        <div class="w-fit bg-gray-300" id="playlist-2-container">
                        </div>
                        <div class="w-fit bg-gray-300" id="playlist-3-container">
                        </div>
                        <div class="w-fit bg-gray-300" id="playlist-4-container">
                        </div>
                    </div>
                </div>

            </div>

            <div class="flex flex-col w-52 mx-5 text-white">
                <div class="w-full bg-sky-700 my-1 p-3 rounded-lg text-center">
                    <h4 class="font-bold mb-5 mt-2">Playlist generator</h4>
                </div>

            </div>

        </div>
    </div>

</body>

@section Scripts
    {
    <script>

    </script>
    <script type="text/javascript" src="~/js/landing.js"></script>
}
