@model MusicCollaborationManager.ViewModels.VisitorDashboard

@{
    ViewData["Title"] = "Home Page";
}

<script src="https://open.spotify.com/embed-podcast/iframe-api/v1" async></script>

        <div class="flex flex-col w-[88%] ml-4 md:w-3/4">
            <div class="mb-4 text-center shadow-md shadow-gray-950 rounded-lg">                
                <p class="mb-4 font-semibold text-2xl text-textback">
                    Welcome to Music Collaboration Manager. Here you can interact with your Spotify account to enhance
                    your listening experience. We provide our own
                    unique features including custom site themes, a playlist generator, and more.
                </p>
            </div>

            <div class="w-auto bg-secondaryback classicpanda:bg-coreback shadow-xl shadow-gray-950 rounded-xl px-5 pt-6 pb-8 mb-4 overflow-hidden">              
                <div>
                    <img src="~/img/spotify-logo-white.png" class="w-32 h-10" />
                    <h2 class="font-bold mb-5 mt-1 text-textback text-xl classicpanda:text-whitetext luxury:text-yellow-500">Top songs</h2>
                </div>
                <div class="flex flex-row gap-x-3 md:max-h-auto3 w-[340px] md:w-auto overflow-x-auto mr-8 md:mr-0 text-center text-lg">
                    <div class="min-w-[200px] max-w-auto bg-primback text-textback p-2 rounded-lg" id="track-0-container">
                    </div>
                    <div class="min-w-[200px] max-w-auto bg-primback text-textback p-2 rounded-lg" id="track-1-container">
                    </div>
                    <div class="min-w-[200px] max-w-auto bg-primback text-textback p-2 rounded-lg" id="track-2-container">
                    </div>
                    <div class="min-w-[200px] max-w-auto bg-primback text-textback p-2 rounded-lg" id="track-3-container">
                    </div>
                    <div class="min-w-[200px] max-w-auto bg-primback text-textback p-2 rounded-lg" id="track-4-container">
                    </div>
                </div>
            </div>

            <div class="w-auto bg-secondaryback classicpanda:bg-coreback shadow-xl shadow-gray-950 rounded-xl px-5 pt-6 pb-8 mb-4 overflow-hidden">
                <div>
                    <img src="~/img/spotify-logo-white.png" class="w-32 h-10" />
                    <h2 class="font-bold mb-5 mt-1 text-textback text-xl classicpanda:text-whitetext luxury:text-yellow-500">Top playlists</h2>
                </div>
                <div class="flex flex-row gap-x-3 md:max-h-auto3 w-[340px] md:w-auto overflow-x-auto mr-8 md:mr-0 text-center text-lg">
                    <div class="min-w-[200px] max-w-auto bg-primback text-textback p-2 rounded-lg" id="playlist-0-container">
                    </div>
                    <div class="min-w-[200px] max-w-auto bg-primback text-textback p-2 rounded-lg" id="playlist-1-container">
                    </div>
                    <div class="min-w-[200px] max-w-auto bg-primback text-textback p-2 rounded-lg" id="playlist-2-container">
                    </div>
                    <div class="min-w-[200px] max-w-auto bg-primback text-textback p-2 rounded-lg" id="playlist-3-container">
                    </div>
                    <div class="min-w-[200px] max-w-auto bg-primback text-textback p-2 rounded-lg" id="playlist-4-container">
                    </div>
                </div>
            </div>
            <div class="-z-50 contrast-50">
                <div class="mt-5" id="embed-iframe"></div> <!--Spotify player (not meant to be playable to the user.)-->
            </div>


    <div class="w-auto bg-secondaryback classicpanda:bg-coreback shadow-xl shadow-gray-950 rounded-xl px-5 pt-6 pb-8 mb-4 overflow-hidden">
        <div>
            <img src="~/img/yt_logo_dark.svg" class="w-32 h-10" alt="YouTube Icon" />
            <h2 class="font-bold mb-5 mt-1 text-textback text-xl classicpanda:text-whitetext luxury:text-yellow-500">Top music videos</h2>
        </div>
        <div class="flex flex-row gap-x-3 md:max-h-auto3 w-[340px] md:w-auto overflow-x-auto mr-8 md:mr-0 text-center text-lg">
            @{
                @* int i = 0; *@
                foreach (var mv in Model.YouTubeMVs)
                {

                    <div class="min-w-[200px] max-w-auto bg-primback text-textback p-2 rounded-lg hover:underline cursor-pointer yt-thumbnail" id="@mv.VideoID">
                        <img src="@mv.ThumbnailURL">
                        <p>@mv.VideoTitle</p>
                    </div>
                }
             }
            
        </div>
    </div>
    <div id="yt-player-container" class="hidden">
        <div id="player">
    <div>
    </div>
            
            
        </div>
        @*<div class="flex flex-col w-3/4 mx-5 text-textback classicpanda:text-whitetext">
            <div class="w-auto bg-gray-800 my-1 p-3 rounded-lg text-center">
                <h4 class="font-bold mb-5 mt-2"><a asp-controller="Generator" asp-action="Index">Playlist generator</a></h4>
            </div>
        </div>*@
      
    </div>
</div>


<script>
    window.onSpotifyIframeApiReady = (IFrameAPI) => {
        let element = document.getElementById('embed-iframe');
        let options = {
            width: '100%',
            height: '200',
            uri: 'spotify:album:0SU0IO8l8gC0lgMSPxiWyO', //Escape - Kx5

        };
        let callback = (EmbedController) => { };
        IFrameAPI.createController(element, options, callback);
    };
</script>

@section Scripts{
    <script type="text/javascript" src="~/js/colorchanger.js"></script>
}