@{
    ViewData["Title"] = "Home Page";
}

<script src="https://open.spotify.com/embed-podcast/iframe-api/v1" async></script>
<div class="flex flex-col">
    <div class="flex flex-col ml-52 mt-36">
        <div class="flex flex-col w-3/4 mx-5">
            <div>
                <button id="classicpanda-btn">Theme 1 (original)</button>
                <button id="revolution-btn">Theme 1 (red)</button>
                <button id="autumn-btn">Theme 3 (purple)</button>
                <p class="mb-4 font-semibold text-2xl">
                    Welcome to Music Collaboration Manager. Here you can interact with your Spotify account to enhance
                    your listening experience. We provide our own
                    unique features including custom site themes, a playlist generator, and more.
                </p>
            </div>
            <div class="w-auto max-h-max bg-secondaryback classicpanda:bg-coreback my-3 p-3 rounded-lg shadow-2xl">
                <div class="flex flex-row gap-x-3 mt-5" id="top-songs-header-container">
                    <img src="~/img/spotify-logo-white.png" class="w-32 h-10" />
                    <h2 class="font-bold mb-5 mt-1 text-white text-xl">Top songs</h2>
                </div>
                <div class="columns-5 mb-5 h-full max-h-max">
                    <div class="w-fit overflow-hidden bg-gray-300" id="track-0-container">
                    </div>
                    <div class="w-fit overflow-hidden bg-gray-300" id="track-1-container">
                    </div>
                    <div class="w-fit overflow-hidden bg-gray-300" id="track-2-container">
                    </div>
                    <div class="w-fit overflow-hidden bg-gray-300" id="track-3-container">
                    </div>
                    <div class="w-fit overflow-hidden bg-gray-300" id="track-4-container">
                    </div>
                </div>
            </div>

            <div class="w-auto max-h-max bg-secondaryback classicpanda:bg-coreback my-1 p-3 rounded-lg shadow-2xl">
                <div class="flex flex-row gap-x-3 mt-5">
                    <img src="~/img/spotify-logo-white.png" class="w-32  h-10" />
                    <h2 class="font-bold mb-5 mt-1 text-white text-xl">Top playlists</h2>
                </div>
                <div class="columns-5 mb-5 h-full max-h-max">
                    <div class="w-fit bg-gray-300" id="playlist-0-container">
                    </div>
                    <div class="w-fit bg-gray-300" id="playlist-1-container">
                    </div>
                    <div class="w-fit bg-gray-300" id="playlist-2-container">
                    </div>
                    <div class="w-fit bg-gray-300" id="playlist-3-container">
                    </div>
                    <div class="w-fit bg-gray-300" id="playlist-4-container">
                    </div>
                </div>
            </div>
            <div id="my-thing" class="-z-50">
                <div id="embed-iframe"></div>
            </div>
            
        </div>
        <div class="flex flex-col w-3/4 mx-5 text-white">
            <div class="w-auto bg-gray-800 my-1 p-3 rounded-lg text-center">
                <h4 class="font-bold mb-5 mt-2"><a asp-controller="Generator" asp-action="Index">Playlist generator</a></h4>
            </div>
        </div>
      
    </div>
</div>

<script>

    window.onSpotifyIframeApiReady = (IFrameAPI) => {
        let element = document.getElementById('embed-iframe');
        let options = {
            width: '80%',
            height: '400',
            uri: 'spotify:album:0SU0IO8l8gC0lgMSPxiWyO', //Escape - Kx5
            
        };
        let callback = (EmbedController) => {};
        IFrameAPI.createController(element, options, callback);
    };
    $("#my-thing").css("opactiy", "0.6");
</script>

@section Scripts{
    <script type="text/javascript" src="~/js/colorchanger.js"></script>
}