@model MusicCollaborationManager.Models.DTO.AuthorizedUserDTO;
@{
    ViewData["Title"] = "User Page";
}

<h1 class="flex flex-col items-center justify-center h-screen w-screen">@Model.Me.DisplayName</h1>
<h1 class="flex flex-col items-center justify-center h-screen w-screen">Testo!</h1>

