@{
    ViewData["Title"] = "Whoops!";
}


<div class="grid gap-5 flex flex-col w-[88%] ml-4 md:w-3/4">
    <div class="xl:col-span-1">
        @if(@ViewBag.Passed != null){
                <div id='whoops-alert' type=''>
                    <div class="bg-green-100 border border-red-400 text-green-700 px-4 py-3 rounded relative" role="alert">
                        <strong class="font-bold">On it!</strong>
                        <span class="block sm:inline">Your Spotify account was submitted! We'll update our connection with Spotify with your information.</span>
                        <button id='whoops-button' class="absolute top-0 bottom-0 right-0 px-4 py-3">
                            <svg class="fill-current h-6 w-6 text-green-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
                        </button>
                    </div>    
                </div> 
            }    
    </div>
    <div class="mb-4 text-center shadow-md shadow-gray-950 rounded-lg">                
        <p class="mb-4 font-semibold text-2xl text-textback">
            It seems this is the first time you've been here! Thank you for joining us. Heres the situation:
            Our connection to Spotify requires that every one of our users is hand written in. All we need is your spotify email
            and a name of some kind. The name does not need to be the same on your spotify account: only the email. 
        </p>
    </div>
</div>